<div id="wrapper">
    <app-admin></app-admin>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Nuevo Producto</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Alta de un nuevo producto
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <form role="form" (ngSubmit)="anadirProducto()">
                                        <div class="form-group">
                                            <label>Nombre del producto</label>
                                            <input [(ngModel)]="nuevo.nombre" class="form-control" name="nombre" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label>Imagen</label>
                                            <!-- <input class="form-control" placeholder="" name="imagen"> -->
                                            <input type="file" name="imagen">
                                        </div>
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <textarea [(ngModel)]="nuevo.desProducto" class="form-control" rows="3" name="desProducto" required="required"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Categoría</label>
                                            <select [(ngModel)]="nuevo.categoria" class="form-control" name="categoria" required="required">
                                                <option *ngFor="let categoria of categorias" [value]="categoria.nombre">{{categoria.nombre}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Precio</label>
                                            <input [(ngModel)]="nuevo.precio" type="number" class="form-control" name="precio" min="1" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label>Cantidad</label>
                                            <input [(ngModel)]="nuevo.stock" type="number" class="form-control" name="stock" min="1" max="999" required="required">
                                        </div>
                                        <label>Valoraciones</label>
                                        <div class="form-group">
                                            <label>theBest</label>
                                            <input [(ngModel)]="nuevo.theBest" type="number" class="form-control" name="theBest" min="0" max="999" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label>mustImprove</label>
                                            <input [(ngModel)]="nuevo.mustImprove" type="number" class="form-control" name="mustImprove" min="0" max="999" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label>Bad</label>
                                            <input [(ngModel)]="nuevo.bad" type="number" class="form-control" name="bad" min="0" max="999" required="required">
                                        </div>
                                        <button type="submit" class="btn btn-success">Guardar articulo</button>
                                        <button type="reset" class="btn btn-default">Reset articulo</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>