<div *ngFor="let producto of productos ">
  <!--CONTENIDO AQUÍ!-->
  <div class="container">
    <div class="card">
      <div class="container-fluid">
        <div>
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"> <img src="https://localhost:8443/img/ejemplo1.jpg" /> </div>
              <div class="tab-pane" id="pic-5"> <img src="https://localhost:8443/img/ejemplo1.jpg" /> </div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active">
                <a data-target="#pic-1" data-toggle="tab"><img src="https://localhost:8443/img/ejemplo1.jpg" /></a>
              </li>
              <li>
                <a data-target="#pic-2" data-toggle="tab"><img src="https://localhost:8443/img/ejemplo1.jpg" /></a>
              </li>
            </ul>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{producto.nombre}}</h3>
            <div class="rating">
              <h4 class="price">Rating:</h4>
              <h6 class="price">
                <em>The best!</em>
              </h6>
              <div class="progress">
                <div class="progress-bar success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="setStyles(producto.best)" >{{producto.best}}%<span class="glyphicon glyphicon-heart"></span> </div>
              </div>
              <h6 class="price">
                <em>Must improve!</em>
              </h6>
              <div class="progress">
                <div class="progress-bar warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="setStyles(producto.mustImprove)">{{producto.mustImprove}}%<span class="glyphicon glyphicon-minus"></span> </div>
              </div>
              <h6 class="price">
                <em>Bad!</em>
              </h6>
              <div class="progress">
                <div class="progress-bar danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="setStyles(producto.bad)">{{producto.bad}}%<span class="glyphicon glyphicon-remove"></span> </div>
              </div>
              <p class="product-description">{{producto.desProducto}}</p>
              <h4 class="price">
                current price: <span>{{producto.precio}}€</span>
              </h4>
              <h4 class="price">Stock:</h4>
              <div class="progress">
                <div class="progress-bar progress-bar- progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                  aria-valuemax="100" [ngStyle]="setStyles(producto.stock)" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">{{producto.stock}} UD.</div>
              </div>
              <div class="action"> <a  [routerLink]="['/home']" id="addCartButton" class="add-to-cart btn btn-default" type="button">Add to cart</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="">
        <!-- Contenedor Principal -->
        <div class="comments-container">
          <div class="row">
            <h1>Comments</h1>
            <ul id="comments-list" class="comments-list">
              <!-- HERE COMMENTS -->

            </ul>
          </div>
          <div *ngIf="logged" class="row" id="addComment">
								<form action="/addComment">
									<div class="form-group">
										<br>
										<label for="comment">Comment:</label>
										<textarea required="required" name="comment" class="form-control" rows="5" id="comment"></textarea>
									</div>
									<label for="comment">Rating:</label>
									<div id="ratingContent" class="btn-group btn-group-justified" role="group"
										aria-label="...">
										<div class="btn-group" role="group">
											<button data-value="3" type="button" class="btn btn-default">
												<span class="glyphicon glyphicon-heart"></span> The Best!
											</button>
										</div>
										<div class="btn-group" role="group">
											<button data-value="2" type="button" class="btn btn-default">
												<span class="glyphicon glyphicon-minus"></span> Must improve!
											</button>
										</div>
										<div class="btn-group" role="group">
											<button data-value="1" type="button" class="btn btn-default">
												<span class="glyphicon glyphicon-remove"></span> Bad!
											</button>
										</div>
									</div>
									<br>
									<input type="hidden" name="id" value="{{id}}"/>
									<input type="hidden" id="ratingEvent" name="rating" value="0"/>
									<button type="submit" class="btn btn-primary btn-md">Submit</button>
								</form>
								
          </div>
          <h3 *ngIf="!logged">You need to be logged in order to add comments.</h3>
        </div>
      </div>
    </div>
  </div>
</div>