<div id="wrapper">
    <app-admin></app-admin>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Categorias</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Alta de una nueva categoría
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                   <div class="col-lg-8 col-lg-offset-2">
                                        <form (ngSubmit)="anadirCategoria(nueva.value)" class="form-inline" method="post" action="/admin/addCategory">
                                            <div class="form-group">
                                                <label for="">Categoría:</label>
                                                <input #nueva type="text" class="form-control" name="category" required="required">
                                            </div>
                                            <button type="submit" class="btn btn-success">Añadir categoría</button>
                                        </form>
                                    </div>
                                    <!-- col-lg-8 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Lista de categorias
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                   <div class="col-lg-6 col-lg-offset-3">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                	<th>Id</th>
                                                    <th>Categoría</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let categoria of categorias">
                                            	<td>{{categoria.id}}</td>
                                                <td>{{categoria.nombre}}</td>
                                                <td><a class="btn btn-danger" (click)="eliminarCategoria(categoria.id)" aria-label="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                            </tr>
                                        </tbody>
                                        </table>
                                        <!-- table -->
                                    </div>
                                    <!-- col-lg-8 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->