<!DOCTYPE html>
<html lang="en">

<head>
<title>Dirando Shop</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/principal.css" rel="stylesheet">
<link
	href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="col-md-12 col-sm-12 fondo-logotipo">
				<div class="col-md-7 ">
					<div class="col-sm-6">
						<a href="/"> <img src="/img/logoNEW.png" alt="Logo">
						</a>
					</div>
				</div>
				<div class="col-md-5 col-sm-6" id="publi">
					<img src="/img/publi.gif" alt="publi">
				</div>
			</div>
		</div>
		<nav class="navbar navbar-inverse col-md-12 col-sm-12">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">XCO</a>
							<ul class="dropdown-menu">
								<li><a href="#">Protections</a></li>
								<li><a href="#">Clothing</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="paginaListadoProductos.html">Bikes</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Downhill</a>
							<ul class="dropdown-menu">
								<li><a href="#">Protections</a></li>
								<li><a href="#">Clothing</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="paginaListadoProductos.html">Bikes</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Road</a>
							<ul class="dropdown-menu">
								<li><a href="#">Protections</a></li>
								<li><a href="#">Clothing</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="paginaListadoProductos.html">Bikes</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Cyclocross</a>
							<ul class="dropdown-menu">
								<li><a href="#">Protections</a></li>
								<li><a href="#">Clothing</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Bikes</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Triathlon</a>
							<ul class="dropdown-menu">
								<li><a href="#">Protections</a></li>
								<li><a href="#">Clothing</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="paginaListadoProductos.html">Bikes</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Accessories</a>
							<ul class="dropdown-menu">
								<li><a href="#">hydration</a></li>
								<li><a href="#">gloves</a></li>
								<li><a href="#">glasses</a></li>
								<li><a href="#">Watches</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">food</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Clothing</a>
							<ul class="dropdown-menu">
								<li><a href="#">Protections</a></li>
								<li><a href="#">winter</a></li>
								<li><a href="#">summer</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">kids</a></li>
							</ul></li>
						<li>
							<form class="navbar-form search navbar-form-2">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
									<button type="submit" class="btn btn-default">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</div>
							</form>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{{#usuario}}
						<!-- IF -->
						<li><a href="/usuario"><span
								class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{name}}
								,{{apellidos}}</a></li> {{/usuario}} {{^usuario}}
						<!-- else -->
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"><i class="fa fa-cogs"></i> <b
								class="color-blue"><span class="glyphicon glyphicon-user"></span>Login/register</b>
								<span class="caret"></span></a>
							<ul class="dropdown-menu login-panel">
								<li>
									<div class="dropdown-header">
										<span class="login-header color-blue">Sign In</span> <span
											class="forgot-password color-blue"><a
											href="paginaForgotPassword.html">Forgot password?</a></span>
									</div>
									<div class="clearfix"></div>
									<div>
										<form id="loginform" class="form-horizontal" role="form"
											autocomplete="off" action="/login" method="post">
											<div class="input-group">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-user color-blue"></i></span>
												<!-- USERNAME OR EMAIL ADDRESS -->
												<input id="login-username" type="text" class="form-control"
													name="username" value="" placeholder="username or email"
													pattern="[a-zA-Z0-9]{3,}"
													title="Minimum 3 letters or numbers." required>
											</div>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="glyphicon glyphicon-lock color-blue"></i></span>
												<!--  PASSWORD  -->
												<input id="login-password" type="password"
													class="form-control" name="password" placeholder="password"
													pattern=".{3,}" title="Minmimum 3 letters or numbers."
													required>
											</div>
											<div class="center-text">
												<label> <input id="login-remember" type="checkbox"
													name="remember" value="1"> Remember me
												</label>
											</div>
											<div class="center-text">
												<span class="error-message color-red"><i
													class="glyphicon glyphicon-warning-sign"></i> Username &
													password don't match!</span>
											</div>
											<div class="form-group">

												<!-- Button -->
												<div class="col-sm-12 controls center-text">
													<input id="btn-login" type="submit"
														class="btn btn-block btn-success" value="Login">
													<!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->
													<br>
												</div>
												<div class="col-sm-12 controls center-text">
													<a id="btn-login2" href="/register"
														class="btn btn-block btn-success2">Register</a>
													<!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->
												</div>
											</div>

										</form>
									</div>
								</li>
								<!--<li class="divider"></li>-->
							</ul></li> {{/usuario}}
						<!--FIN Else -->
						<li><a href="paginaCarrito.html"> <span
								class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
								<span class="badge">0</span>
						</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
	<div>
		<!--CONTENIDO AQUÍ!-->
		<div class="container">
			<div class="card">
				<div class="container-fluid">
					<div>
						{{#producto}}
						<div class="preview col-md-6">
							<div class="preview-pic tab-content">
								<div class="tab-pane active" id="pic-1">
									<img src="/{{image}}" />
								</div>
								<div class="tab-pane" id="pic-5">
									<img src="/{{image}}" />
								</div>
							</div>
							<ul class="preview-thumbnail nav nav-tabs">
								<li class="active"><a data-target="#pic-1"
									data-toggle="tab"><img src="/{{image}}" /></a></li>
								<li><a data-target="#pic-2" data-toggle="tab"><img
										src="/{{image}}" /></a></li>
							</ul>
						</div>

						<div class="details col-md-6">
							<h3 class="product-title">{{nombre}}</h3>
							<div class="rating">
								<h4 class="price">Rating:</h4>
								<h6 class="price">
									<em>The best!</em>
								</h6>
								<div class="progress">
									<div class="progress-bar success" role="progressbar"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%;">
										<span class="glyphicon glyphicon-heart"></span>
									</div>
								</div>
								<h6 class="price">
									<em>Must improve!</em>
								</h6>
								<div class="progress">
									<div class="progress-bar warning" role="progressbar"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										style="width: 20%;">
										<span class="glyphicon glyphicon-minus"></span>
									</div>
								</div>
								<h6 class="price">
									<em>Bad!</em>
								</h6>
								<div class="progress">
									<div class="progress-bar danger" role="progressbar"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										style="width: 10%;">
										<span class="glyphicon glyphicon-remove"></span>
									</div>
								</div>
								<p class="product-description">{{desProducto}}</p>
								<h4 class="price">
									current price: <span>{{precio}}€</span>
								</h4>
								<h4 class="price">Stock:</h4>
								<div class="progress">
									<div
										class="progress-bar progress-bar- progress-bar-striped active"
										role="progressbar" aria-valuenow="40" aria-valuemin="0"
										aria-valuemax="100" style="width: 70%" data-toggle="tooltip"
										data-placement="bottom" title="Disponibilidad">{{stock}}
										UD.</div>
								</div>
								<h5 class="sizes">
									sizes: <span class="size" data-toggle="tooltip" title="small">s</span>
									<span class="size" data-toggle="tooltip" title="medium">m</span>
									<span class="size" data-toggle="tooltip" title="large"><strong>l</strong></span>
									<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
								</h5>
								<h5 class="colors">
									colors: <span class="color orange not-available"
										data-toggle="tooltip" title="Not In store"></span> <span
										class="color green"></span> <span class="color blue"></span>
								</h5>
								<div class="action">
									<a href="paginaCarrito.html"
										class="add-to-cart btn btn-default" type="button">Add to
										card</a>
								</div>
							</div>
						</div>
						{{/producto}}
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="">
					<!-- Contenedor Principal -->
					<div class="comments-container">
						<div class="row">
							<h1>Comments</h1>
							<ul id="comments-list" class="comments-list">
								<li>
									<div class="comment-main-level">
										<!-- Avatar -->
										<div class="comment-avatar">
											<img src="img/logoNEW.png" alt="">
										</div>
										<!-- Contenedor del Comentario -->
										<div class="comment-box">
											<div class="comment-head">
												<span class="glyphicon glyphicon-heart"></span>
												<h6 class="comment-name">Arya Stark</h6>
											</div>
											<div class="comment-content">Lorem ipsum dolor sit
												amet, consectetur adipisicing elit. Velit omnis animi et
												iure laudantium vitae, praesentium optio, sapiente
												distinctio illo?</div>
										</div>
									</div>
								</li>
								<li>
									<div class="comment-main-level">
										<!-- Avatar -->
										<div class="comment-avatar">
											<img src="img/logoNEW.png" alt="">
										</div>
										<!-- Contenedor del Comentario -->
										<div class="comment-box">
											<div class="comment-head">
												<span class="glyphicon glyphicon-remove"></span>
												<h6 class="comment-name">John Snow</h6>
											</div>
											<div class="comment-content">Lorem ipsum dolor sit
												amet, consectetur adipisicing elit. Velit omnis animi et
												iure laudantium vitae, praesentium optio, sapiente
												distinctio illo?</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="row">
							<div class="form-group">
								<br> <label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<label for="comment">Rating:</label>
							<div class="btn-group btn-group-justified" role="group"
								aria-label="...">
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-heart"></span> The Best!
									</button>
								</div>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-minus"></span> Must improve!
									</button>
								</div>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default">
										<span class="glyphicon glyphicon-remove"></span> Bad!
									</button>
								</div>
							</div>
							<br>
							<button type="button" class="btn btn-primary btn-md">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<!--footer start from here-->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 footerleft ">
						<div class="logofooter">Dirando Shop</div>
						<p>Dirando is an online store that distributes specialized
							cycling material of high quality. Since 2017.</p>
						<p>
							<i class="fa fa-map-pin"></i> Calle Ferraz, 1228008 Madrid
						</p>
						<p>
							<i class="fa fa-phone"></i> Phone (Madrid) : +91 9999 878 398
						</p>
						<p>
							<i class="fa fa-envelope"></i> E-mail : info@dirando.com
						</p>
					</div>
					<div class="col-md-2 col-sm-6 paddingtop-bottom">
						<h6 class="heading7">HIGH INTEREST</h6>
						<ul class="footer-ul">
							<li><a href="paginaPaymentsMethods.html">Payment Methods</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 paddingtop-bottom">
						<h6 class="heading7">US...</h6>
						<ul class="footer-ul">
							<li><a href="https://github.com/Igna91" target="_blank">
									Ignacio de Lucas Noguero</a></li>
							<li><a href="https://github.com/danijimeno" target="_blank">
									Daniel Jimeno Sáez</a></li>
							<li><a href="https://github.com/rperezll" target="_blank">
									Roberto Pérez Llanos</a></li>
							<li><a href="https://github.com/AlejandroPinto"
								target="_blank"> Alejandro Pinto Fernández</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 paddingtop-bottom">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6074.652808006513!2d-3.7159819887295646!3d40.42377077161084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1485886121582"
							width="250" height="250" frameborder="0" style="border: 40"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</footer>
		<!--Minifooter start from here-->
		<div class="copyright">
			<div class="container">
				<div class="col-md-6">
					<p>© 2017 - All rights reserved - dirando.com</p>
				</div>
				<div class="col-md-6">
					<ul class="bottom_ul">
						<li><a href="adminIndex.html"><span
								class="glyphicon glyphicon-wrench"></span> Administration</a></li>
						<li><a href="index.html">dirando.com</a></li>
						<li>info@dirando.com</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>