/*COLORS*/
.color-red{color: #FF0000;}
.color-green{color: #6cbc42;}
.color-blue{color: #0080c5;}
.color-twitter{color:#00aced;}
.color-facebook{color:#00539f;}
.color-linkedin{color:#0176b5;}

/*NAVBAR STYLES*/
.navbar-border{border-bottom: solid 5px #0080c5;}
.login-panel {
    min-width: 250px; 
    border-top: 2px solid #0080c5;
    border-right: 1px solid #0080c5;
    border-bottom-right-radius:0.5em;
    -moz-border-radius-bottomright:0.5em;
    border-bottom: 3px solid #0080c5;
    border-left: 1px solid #0080c5;
    border-bottom-left-radius:0.5em;
    -moz-border-radius-bottomleft:0.5em;
    }
.login-panel  #loginform{
    padding-left: 10px;
    padding-right: 10px;
}
.login-panel  #loginform > .input-group{
    padding-bottom: 10px;
}

.controls.center-text{
    
}
.dropdown-header { display: block !imnportant; padding-bottom: 30px; height: 5px; }
.login-header { font-size: 20px; font-weight: bold; display: inline; float: left; }
.forgot-password { font-size: 10px; display: inline; float: right; vertical-align: bottom; padding-top: 10px; }
.center-text { text-align: center; }
.error-message { font-size: 11px; }

/*-------  Footer -----------*/

footer > .jumbotron {
    background-color: #343434;
}

footer > .jumbotron .encabezado {
    border-bottom: 1px solid #666;
}

footer > .jumbotron .encabezado > div:first-child {
    border-right: 1px solid #666;
}

footer > .jumbotron .encabezado > div:first-child a {
    padding-left: 4px;
}

.informacion {
    border-bottom: 1px solid #666;
    margin-bottom: 50px;
}

footer > .jumbotron ul li {
    background-color: transparent;
    border: 0px;
    color: dimgrey;
    padding-left: 0px;
}

footer > .jumbotron ul li > a {
    color: #999;
}

footer > .jumbotron ul li > a:hover {
    color: dimgrey;
    text-decoration: none;
    text-shadow: 0px 1px 1px black;
}
.search{
    margin-top: 20%;
}
.cabecera{
    margin-top: 3%;
}

.fondo-logotipo{
    /*background-image:url(../img/fondonegro.png);
    box-shadow: 0px 8px 34px 0px;*/
}