<div class="container">
			<br>
			<h1 class="well">Modify your Account</h1>
			<div class="col-lg-12 well">
				<div class="row">
					<form action="https://localhost:8443/rest/account" method="post">
						<div class="col-sm-12">
							<div class="row">

								<div class="col-sm-6 form-group">
									<label>Full Name*</label> <input name="fullName"
										  required="required" type="text" value="{{loginService.user.fullName}}"
										placeholder="Enter Last Name Here.." class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label>Password*</label> <input name="pass" required="required"
									type="password" pattern=".{3,}" placeholder="Enter a same Password or change here." 
									class="form-control">
							</div>
							<div class="form-group">
								<label>Address (Street, number... )*</label>
								<input name="address" required="required"
									value="{{loginService.user.address}}" placeholder="Enter Address Here.."
									class="form-control">
							</div>
							<div class="form-group">
								<label>Phone Number</label> <input pattern="[0-9]{9}"
									name="phone" type="tel" value="{{loginService.user.phone}}"
									placeholder="Enter Phone Number Here.." class="form-control">
							</div>
							<div class="form-group">
								<label>Email Address*</label> <input name="email"
									required="required" type="email" value="{{loginService.user.email}}"
									placeholder="Enter Email Address Here.." class="form-control">
							</div>

							<button type="submit" class="btn btn-lg btn-info">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>