<div id="wrapper">
    <app-admin></app-admin>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Productos</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div *ngFor="let pro of producto" class="panel panel-primary">
                        <div class="panel-heading">
                            Producto: {{pro.nombre}} 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <h3>{{pro.nombre}}</h3>
                                    <p>Id: {{pro.id}}</p>
                                    <p>Imagen: {{pro.imagen}}</p>
                                    <p>{{pro.desProducto}}</p>
                                    <p>Categoría: {{pro.categoria}}</p>
                                    <p>Precio:  {{pro.precio}}€</p>
                                    <p>Cantidad: {{pro.stock}}</p>
                                    <p>Valoraciones</p>
                                    <p>Mejor: {{pro.best}}</p>
                                    <p>Debe Mejorar: {{pro.mustImprove}}</p>
                                    <p>Malo: {{pro.bad}}</p>
                                    <br>
                                    <button (click)="modificarProducto()"type="button" class="btn btn-warning"><i class="fa fa-pencil fa-fw"></i> Modificar producto</button>
                                    <button (click)="eliminarProducto()" type="button" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i> Eliminar producto</button>
                                    <button [routerLink]="['/adminProductos']" type="button" class="btn btn-info">Todos los productos</button>
                                </div>
                                <!-- /.col-lg -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
