<div id="wrapper">
    <app-admin></app-admin>
    
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Usuarios</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Datos de los usuarios
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive table-bordered">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Apellidos</th>
                                                <th>E-mail</th>
                                                <th>Teléfono</th>
                                                <th>Ciudad</th>
                                                <th>Rol</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let usuario of usuarios">
                                                <td><strong>{{usuario.id}}</strong></td>
                                                <td>{{usuario.name}}</td>
                                                <td>{{usuario.fullName}}</td>
                                                <td>{{usuario.email}}</td>
                                                <td>{{usuario.phone}}</td>
                                                <td>{{usuario.address}}</td>
                                                <td><span *ngFor="let r of usuario.role">{{r}}&nbsp;</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>