<div class="header">
    <div class="container">
        <div class="col-md-12 col-sm-12 fondo-logotipo">
            <div class="col-md-7 ">
                <div class="col-sm-6">
                    <a [routerLink]="['/home']"> <img src="assets/img/logoNEW.png" alt="Logo"> </a>
                </div>
            </div>
            <div class="col-md-5 col-sm-6" id="publi"> <img src="assets/img/publi.gif" alt="publi"> </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse col-md-12 col-sm-12">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">XCO</a>
                        <ul class="dropdown-menu">
                            <li><a href="/listadoProductos/helmet" id="protections">Protections</a></li>
                            <li><a href="/listadoProductos/helmet" id="clothing">Clothing</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id="xco" href="/listadoProductos/xco">Bikes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Downhill</a>
                        <ul class="dropdown-menu">
                            <li><a href="/listadoProductos/helmet" id="protections1">Protections</a></li>
                            <li><a href="/listadoProductos/helmet" id="clothing1">Clothing</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id="downhill" href="/listadoProductos/downhill" >Bikes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Road</a>
                        <ul class="dropdown-menu">
                            <li><a href="/listadoProductos/helmet" id="protections2">Protections</a></li>
                            <li><a href="/listadoProductos/helmet" id="clothing2">Clothing</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id="road" href="/listadoProductos/road">Bikes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cyclocross</a>
                        <ul class="dropdown-menu">
                            <li><a href="/listadoProductos/downhill" id="protections3">Protections</a></li>
                            <li><a href="/listadoProductos/downhill" id="clothing3">Clothing</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id="cyclocross" href="/listadoProductos/cyclocross">Bikes</a></li>
                        </ul>
                    </li>
                    <li>
                        <form (ngSubmit)="buscar(busqueda.value)" class="navbar-form search navbar-form-2">
                            <div class="form-group">
                                <input #busqueda required="required" name="inp-search" type="text" class="form-control" placeholder="Search">
                                <button type="submit"  class="btn btn-default"> <span class="glyphicon glyphicon-search"></span> </button>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul *ngIf="loginService.isLogged && loginService.isAdmin" class="nav navbar-nav navbar-right">
                    <li><a href="" [routerLink]="['administracion']"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp; {{loginService.user.name}}, {{loginService.user.fullName}}&nbsp;&nbsp;
                                    </a></li>
                    <li>
                        <a class="glyphicon glyphicon-off" (click)="logOut()" [routerLink]="['']"></a>
                    </li>
                    <li>
                        <a href="/shoppingCart"> <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart <span class="badge" id="countItems">{{cartSize}}</span>                            </a>
                    </li>
                </ul>
                <ul *ngIf="loginService.isLogged  && !loginService.isAdmin" class="nav navbar-nav navbar-right">
                    <li><a href="" [routerLink]="['/user']"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp; {{loginService.user.name}}, {{loginService.user.fullName}}&nbsp;&nbsp;
                                    </a></li>
                    <li>
                        <a class="glyphicon glyphicon-off" (click)="logOut()" [routerLink]="['']"></a>
                    </li>
                    <li>
                        <a [routerLink]="['/Cart']"> <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart <span class="badge" id="countItems">{{shopservice.num}}</span>                            </a>
                    </li>
                </ul>
                <ul *ngIf="!loginService.isLogged" class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> <b
                                    class="color-blue"><span class="glyphicon glyphicon-user"></span>Login/register</b>
                                    <span class="caret"></span></a>
                        <ul class="dropdown-menu login-panel">
                            <li>
                                <div class="dropdown-header"> <span class="login-header color-blue">Sign In</span> <span class="forgot-password color-blue"><a
                                                href="paginaForgotPassword.html">Forgot password?</a></span> </div>
                                <div class="clearfix"></div>
                                <div>
                                    <form id="loginform" class="form-horizontal" role="form" autocomplete="off" action="/login" method="post">
                                        <div class="input-group"> <span class="input-group-addon"><i
                                                        class="glyphicon glyphicon-user color-blue"></i></span>
                                            <!-- USERNAME OR EMAIL ADDRESS -->
                                            <input id="login-username" type="text" class="form-control" name="username" #user placeholder="username or email" pattern="[a-zA-Z0-9]{3,}"
                                                title="Minimum 3 letters or numbers." required>                                            </div>
                                        <div class="input-group"> <span class="input-group-addon"><i
                                                        class="glyphicon glyphicon-lock color-blue"></i></span>
                                            <!--  PASSWORD  -->
                                            <input id="login-password" type="password" class="form-control" name="password" #pass placeholder="password" pattern=".{3,}"
                                                title="Minmimum 3 letters or numbers." required>                                            </div>
                                        <div class="center-text">
                                            <label>
                                                        <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me </label>
                                        </div>
                                        <div class="center-text"> <span class="error-message color-red"><i
                                                        class="glyphicon glyphicon-warning-sign"></i> Username &
                                                        password don't match!</span> </div>
                                        <div class="form-group">
                                            <!-- Button -->
                                            <div class="col-sm-12 controls center-text">
                                                <input id="btn-login" type="submit" (click)="logIn($event,user.value,pass.value)" class="btn btn-block btn-success" value="Login">
                                                <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->
                                                <br> </div>
                                            <div class="col-sm-12 controls center-text"> <a id="btn-login2" [routerLink]="['/registro']" class="btn btn-block btn-success2">Register</a>
                                                <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>--></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['/Cart']"> <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart <span class="badge" id="countItems">{{shopservice.num}}</span>                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>